# Generate CSV for CLAM dataset splitting
## Input:
1. Sample clustering results (cluster label)
2. CSV auto-generated by CLAM segmentation (slide id)

## Ouput:
1. CSV for CLAM dataset splitting (case id, slide id, cluster)

In [1]:
import os
import pandas as pd

In [75]:
# Only keep core samples
core_sample = False
highvsrest = True # Median + Low
lowvsrest = False # High + Median

gene_signature = "Ribas_10G_Interferon_Gamma" # Inflammatory, Gajewski_13G_Inflammatory, 6G_Interferon_Gamma, 
                                    # Interferon_Gamma_Biology, T-cell_Exhaustion, Ribas_10G_Interferon_Gamma,
                                    # 10G_preliminary_IFN-Î³, Expanded_immune_gene

In [76]:
# # 4 versions of labels
# root = "/media/visiopharm5/WDGold/deeplearning/MIL/CLAM"
# if core_sample:
#     path_label = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/clust_res_final"
# else:
#     path_label = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/heatmap"

# ffname = "results/process_list_edited (copy).csv" # 20x + 40x
# # merge = "outer"

# flabel = "sample_clusters_filtered-4_zscore_hc_ward.D2_euclidean_3_reorder.csv" # v1
# output = "dataset_csv/tcga_hcc_354_v1"

# # flabel = "sample_clusters_sum_filter-4.csv" # v2
# # output = "dataset_csv/tcga_hcc_v2"

# # flabel = "sample_clusters_filtered-Sangro_zscore_hc_ward.D2_euclidean_3_reorder.csv" # v3
# # output = "dataset_csv/tcga_hcc_354_v3"

# # flabel = "sample_clusters_full_median_cnmf_ordered_hc_ward.D2_euclidean_3.csv" # v4
# # output = "dataset_csv/tcga_hcc_354_v4"

# if highvsrest:
#     output = output + "_highvsrest"

# if core_sample:
#     output = output + "_core.csv"
# else:
#     output = output + ".csv"

In [77]:
# Gene signatures in Sangro's paper
root = "/media/visiopharm5/WDGold/deeplearning/MIL/CLAM"
if core_sample:
    #tcga
#     path_label = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/clust_res_final"
    #mondor
    path_label = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/clust_res_final"
    flabel = "mondor_sample_clusters_"+ gene_signature +"_zscore_hc_ward.D2_euclidean_3_reorder.csv"
else:
    # tcga
#     path_label = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/validation"
    # mondor
    path_label = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/heatmap_nanostring_139"
    flabel = "sample_clusters_"+ gene_signature +"_zscore_hc_ward.D2_euclidean_3_reorder.csv"
    
# ffname = "results/process_list_edited (copy).csv" # 20x + 40x
# merge = "outer"

# gene_signature = "Inflammatory" # Inflammatory, Gajewski_13G_Inflammatory, 6G_Interferon_Gamma, 
#                                         # Interferon_Gamma_Biology, T-cell_Exhaustion, Ribas_10G_Interferon_Gamma

# flabel = "tcga_sample_clusters_"+ gene_signature +"_zscore_hc_ward.D2_euclidean_3_reorder.csv"
# output = "dataset_csv/tcga_hcc_354_" + gene_signature
# tcga
# flabel = "mondor_sample_clusters_"+ gene_signature +"_zscore_hc_ward.D2_euclidean_3_reorder.csv"
output = "dataset_csv/mondor_hcc_258_" + gene_signature


if highvsrest:
    output = output + "_highvsrest"
elif lowvsrest:
    output = output + "_lowvsrest"

if core_sample:
    output = output + "_core.csv"
else:
    output = output + ".csv"

In [78]:
# Load clustering results
labels = pd.read_csv(os.path.join(path_label, flabel))
# Load CSV auto-generated by CLAM segmentation -- for full slide name
df = pd.read_csv("/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/data/reference_mrna2slides.csv", index_col=0)

In [79]:
# Data vis
print(labels.shape)
display(labels.head(5))

print(df.shape)
display(df.head(5))

(139, 2)

         Sample       Cluster
0  EX128.ARN217  Cluster High
1  EX128.ARN322  Cluster High
2  EX128.ARN268  Cluster High
3  EX128.ARN291  Cluster High
4  EX128.ARN243  Cluster High

(260, 4)

,Nanostring_id,slide_name,slide_id,case_id
0,EX128-ARN190,HMNT2066_P734242_01_HES - 2018-11-01 16.13.44....,HMNT2066_P734242_01_HES - 2018-11-01 16.13.44,HMNT2066
1,EX128-ARN192,HMNT1749 - 2017-07-08 09.31.45.ndpi,HMNT1749 - 2017-07-08 09.31.45,HMNT1749
2,EX128-ARN192,HMNT1749_bis - 2017-07-08 10.18.44.ndpi,HMNT1749_bis - 2017-07-08 10.18.44,HMNT1749
3,EX128-ARN193,HMNT1745_bis - 2017-07-08 07.08.06.ndpi,HMNT1745_bis - 2017-07-08 07.08.06,HMNT1745
4,EX128-ARN193,HMNT1745 - 2017-07-08 06.39.46.ndpi,HMNT1745 - 2017-07-08 06.39.46,HMNT1745

In [80]:
for i in range(df.shape[0]):
    if df.loc[i, 'slide_id'].startswith("HMNT0505_bis") or df.loc[i, 'slide_id'].startswith("HMNT0578 "):
        df.drop(i, inplace=True)
print(df.shape)
display(df.head(5))

(258, 4)

,Nanostring_id,slide_name,slide_id,case_id
0,EX128-ARN190,HMNT2066_P734242_01_HES - 2018-11-01 16.13.44....,HMNT2066_P734242_01_HES - 2018-11-01 16.13.44,HMNT2066
1,EX128-ARN192,HMNT1749 - 2017-07-08 09.31.45.ndpi,HMNT1749 - 2017-07-08 09.31.45,HMNT1749
2,EX128-ARN192,HMNT1749_bis - 2017-07-08 10.18.44.ndpi,HMNT1749_bis - 2017-07-08 10.18.44,HMNT1749
3,EX128-ARN193,HMNT1745_bis - 2017-07-08 07.08.06.ndpi,HMNT1745_bis - 2017-07-08 07.08.06,HMNT1745
4,EX128-ARN193,HMNT1745 - 2017-07-08 06.39.46.ndpi,HMNT1745 - 2017-07-08 06.39.46,HMNT1745

In [81]:
# Re-format sample name: (only for tcga, remove "X" before all numeric names and) replace "." with "-"
for i in range(labels.shape[0]):
#     labels.iloc[i,0] = labels.iloc[i,0][-8:-1].replace(".", "-")
    labels.iloc[i,0] = labels.iloc[i,0].replace(".", "-")
print(labels.shape)
display(labels.head(5))

(139, 2)

         Sample       Cluster
0  EX128-ARN217  Cluster High
1  EX128-ARN322  Cluster High
2  EX128-ARN268  Cluster High
3  EX128-ARN291  Cluster High
4  EX128-ARN243  Cluster High

In [82]:
if highvsrest:
    labels.replace("Cluster Median", "Cluster Median + Low", inplace=True)
    labels.replace("Cluster Low", "Cluster Median + Low", inplace=True)
elif lowvsrest:
    labels.replace("Cluster High", "Cluster High + Median", inplace=True)
    labels.replace("Cluster Median", "Cluster High + Median", inplace=True)
display(labels.head(5))

         Sample       Cluster
0  EX128-ARN217  Cluster High
1  EX128-ARN322  Cluster High
2  EX128-ARN268  Cluster High
3  EX128-ARN291  Cluster High
4  EX128-ARN243  Cluster High

In [83]:
if core_sample:
    for i in range(labels.shape[0]): # redefine "core" sample
        if labels.iloc[i, 1] == labels.iloc[i, 2]:
            labels.iat[i, 4] = True
    
    labels = labels.drop(labels[~labels.core_sample].index).drop(columns=["neighbor", "sil_width", "core_sample"])
    print(labels.shape)
    display(labels.head(5))

In [84]:
print(labels.shape)
display(labels.head(5))

(139, 2)

         Sample       Cluster
0  EX128-ARN217  Cluster High
1  EX128-ARN322  Cluster High
2  EX128-ARN268  Cluster High
3  EX128-ARN291  Cluster High
4  EX128-ARN243  Cluster High

In [85]:
# # Build a new df
# df1 = df.filter(items=["slide_id"], axis="columns")
# df1["case_id"] = ""
# df1["Sample"] = ""
# for i in range(df.shape[0]):
#     df1.iloc[i,0] = df.iloc[i,0][:-4] # remove ".svs" at the end
#     df1.iloc[i,1] = df.iloc[i,0][0:12] # case id
#     df1.iloc[i,2] = df.iloc[i,0][8:15] # sample id which used to match the label df
# print(df1.shape)
# display(df1.head(5))

In [86]:
# Matching the two df on sample id
# results = pd.merge(labels, df1, on="Sample", how="inner") # keep the matched duplicates (any case using merge 
                                                          # function) and preserve the left order
results = pd.merge(labels, df, left_on="Sample", right_on="Nanostring_id", how="inner")
print(results.shape)
display(results.head(5))

(258, 6)

,Sample,Cluster,Nanostring_id,slide_name,slide_id,case_id
0,EX128-ARN217,Cluster High,EX128-ARN217,HMNT0562 - 2017-06-18 08.12.49.ndpi,HMNT0562 - 2017-06-18 08.12.49,HMNT0562
1,EX128-ARN217,Cluster High,EX128-ARN217,HMNT0562_bis - 2017-06-18 09.03.20.ndpi,HMNT0562_bis - 2017-06-18 09.03.20,HMNT0562
2,EX128-ARN322,Cluster High,EX128-ARN322,HMNT2387_P761471-A03-HES.svs,HMNT2387_P761471-A03-HES,HMNT2387
3,EX128-ARN268,Cluster High,EX128-ARN268,HMNT0153 - 2017-06-08 16.41.05.ndpi,HMNT0153 - 2017-06-08 16.41.05,HMNT0153
4,EX128-ARN268,Cluster High,EX128-ARN268,HMNT0153_bis - 2017-06-08 17.21.02.ndpi,HMNT0153_bis - 2017-06-08 17.21.02,HMNT0153

In [87]:
results.drop(columns="case_id", inplace=True)
results.rename(columns={"Nanostring_id": "case_id"}, inplace=True)
print(results.shape)
display(results.head(5))

(258, 5)

,Sample,Cluster,case_id,slide_name,slide_id
0,EX128-ARN217,Cluster High,EX128-ARN217,HMNT0562 - 2017-06-18 08.12.49.ndpi,HMNT0562 - 2017-06-18 08.12.49
1,EX128-ARN217,Cluster High,EX128-ARN217,HMNT0562_bis - 2017-06-18 09.03.20.ndpi,HMNT0562_bis - 2017-06-18 09.03.20
2,EX128-ARN322,Cluster High,EX128-ARN322,HMNT2387_P761471-A03-HES.svs,HMNT2387_P761471-A03-HES
3,EX128-ARN268,Cluster High,EX128-ARN268,HMNT0153 - 2017-06-08 16.41.05.ndpi,HMNT0153 - 2017-06-08 16.41.05
4,EX128-ARN268,Cluster High,EX128-ARN268,HMNT0153_bis - 2017-06-08 17.21.02.ndpi,HMNT0153_bis - 2017-06-08 17.21.02

In [88]:
# Reconstruct the results
results = results.filter(items=["case_id", "slide_id", "Cluster"], axis="columns")
results.rename(columns={"Cluster":"cluster"}, inplace=True)
print(results.shape)
display(results.head(5))

(258, 3)

        case_id                            slide_id       cluster
0  EX128-ARN217      HMNT0562 - 2017-06-18 08.12.49  Cluster High
1  EX128-ARN217  HMNT0562_bis - 2017-06-18 09.03.20  Cluster High
2  EX128-ARN322            HMNT2387_P761471-A03-HES  Cluster High
3  EX128-ARN268      HMNT0153 - 2017-06-08 16.41.05  Cluster High
4  EX128-ARN268  HMNT0153_bis - 2017-06-08 17.21.02  Cluster High

In [89]:
# Export
results.to_csv(os.path.join(root, output))