In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
path = "/media/visiopharm5/WDGold/deeplearning/Hepatocarcinomes/TCGA/merge_series"

In [4]:
gene_signatures = ["Inflammatory", "Gajewski_13G_Inflammatory", "6G_Interferon_Gamma", 
                   "Interferon_Gamma_Biology", "T-cell_Exhaustion", "Ribas_10G_Interferon_Gamma"]
bestk = [8, 8, 6, 3, 5, 8]

In [ ]:
pd.read_csv(os.path.join(path, "merged_compare_sample_cluster_"+gene_signatures[i]+".csv"))

In [6]:
for i in range(len(gene_signatures)):
    df = pd.read_csv(os.path.join(path, "merged_compare_sample_cluster_"+gene_signatures[i]+".csv"))
    display(df.head(3))

     Sample Label Individually clustering Merged then clustering
0  AAE7.01A    tp            Cluster High           Cluster High
1  A9GT.01A    tp            Cluster High           Cluster High
2  A8YO.01A    tp            Cluster High           Cluster High
3  A5RG.01A    tp            Cluster High           Cluster High
4  AADO.01A    tp            Cluster High           Cluster High

     Sample Label Individually clustering Merged then clustering
0  AAE7.01A    tp            Cluster High           Cluster High
1  A9GT.01A    tp            Cluster High           Cluster High
2  A8YO.01A    tp            Cluster High           Cluster High
3  A5RG.01A    tp            Cluster High           Cluster High
4  AADO.01A    tp            Cluster High           Cluster High

         Sample Label Individually clustering Merged then clustering
0      A9GT.01A    tp            Cluster High           Cluster High
1      A8YO.01A    tp            Cluster High           Cluster High
2      A5RG.01A    tp            Cluster High           Cluster High
3  EX128.ARN236    tp            Cluster High           Cluster High
4      A3OU.01A    tp            Cluster High           Cluster High

     Sample Label Individually clustering Merged then clustering
0  AAE7.01A    tp            Cluster High           Cluster High
1  A9GT.01A    tp            Cluster High           Cluster High
2  A5RG.01A    tp            Cluster High           Cluster High
3  A2KA.01A    tp            Cluster High           Cluster High
4  A3OU.01A    tp            Cluster High           Cluster High

         Sample Label Individually clustering Merged then clustering
0      AAE7.01A    tp            Cluster High           Cluster High
1      A9GT.01A    tp            Cluster High           Cluster High
2      A5RG.01A    tp            Cluster High           Cluster High
3      AADO.01A    tp            Cluster High           Cluster High
4  EX128.ARN286    tp            Cluster High           Cluster High

         Sample Label Individually clustering Merged then clustering
0      A9GT.01A    tp            Cluster High           Cluster High
1      A5RG.01A    tp            Cluster High           Cluster High
2  EX128.ARN236    tp            Cluster High           Cluster High
3      AADO.01A    tp            Cluster High           Cluster High
4      A5NQ.01A    tp            Cluster High           Cluster High