### Load count matrix and subset the fpkm gene list.
### Check missing data.
### Saved as CSV.

In [34]:
import pandas as pd
import numpy as np

In [29]:
root = "E:\\deeplearning\\Hepatocarcinomes\\TCGA\\processed\\"

In [24]:
count_matrix = pd.read_csv(root + 'count_matrix_TCGA_424s.txt', sep='\t', index_col=0)
fpkm = pd.read_csv(root + 'fpkm_final_log2-median-centering.csv', sep='\t', index_col=0)

In [25]:
print("count_matrix:")
display(count_matrix.head(5))
print(count_matrix.shape) # (18441, 424)
print("")
print("Used full fpkm:")
display(fpkm.head(5))
print(fpkm.shape) # (733, 340)

count_matrix:

,AACO-01A,5263-01A,5261-01A,A5UC-01A,A4NE-01A,A6M5-01A,A1EH-01A,A8O5-01A,5264-01A,A3I0-11A,...,A39V-01A,A112-01A,A9CY-01A,A39Z-11A,A3M9-01A,A114-11A,A9HB-01A,AADR-01A,AAUZ-01A,A75C-01A
A1BG,37199,1015,10190,32966,12496,30416,18872,51676,21653,129924,...,42134,124,164830,164136,145,128142,173488,28135,52275,98816
A1CF,405,5404,1296,1634,2347,2232,5476,6152,8004,3105,...,2031,1630,1929,2151,1,3322,2010,1401,1283,1987
A2ML1,0,0,0,5,0,0,0,0,0,0,...,2,15,1,0,1,0,0,1,0,18
A2M,57486,8431,120628,302338,36661,793263,380915,941471,32130,123793,...,34394,19194,212684,172998,25626,459886,179721,33137,108184,194688
A4GALT,51,80,243,177,671,859,324,230,174,114,...,169,192,178,78,229,99,130,52,216,80

(18441, 424)

Used full fpkm:

,AADA-01A,A5SJ-01A,AACF-01A,A9GZ-01A,A113-01A,A4NK-01A,A3KF-01A,A5NO-01A,AAVX-01A,AAE0-01A,...,AAW1-01A,A7IL-01A,A5UC-01A,AAV2-01A,AADD-01A,A10S-01A,A11A-01A,A4NJ-01A,A3A1-01A,A3OU-01A
Gene Name,,,,,,,,,,,,,,,,,,,,,
A2M,0.580986,0.979374,-0.436710,2.521986,0.771957,-1.358418,-2.809726,0.480985,0.357785,0.992854,...,-2.196092,-1.308245,2.675234,-1.795184,-0.627455,0.049225,-1.789025,-0.278143,0.480987,0.120638
ACVR1C,-0.042060,-0.071784,-0.055145,0.630880,-0.012114,0.468331,-0.036876,0.389841,0.450002,-0.121834,...,0.019613,-0.027407,-0.105921,-0.048306,-0.080654,-0.091848,0.195951,-0.112913,0.057512,-0.068767
ADAM12,0.013547,0.098334,-0.007120,-0.022410,-0.000270,-0.024944,-0.037183,0.105471,-0.068572,0.447702,...,-0.057101,-0.081946,0.197058,-0.025100,-0.076741,0.147629,-0.051746,0.164958,-0.063445,0.637893
ADM,-0.734360,0.301992,-0.439411,-0.878293,-1.283949,0.490239,-0.695270,0.152928,1.663169,0.629912,...,0.150835,-0.169383,-0.638158,0.690076,-0.784238,0.881678,-0.388240,0.037831,1.052138,-0.524956
ADORA2A,0.716873,-0.105847,-0.342741,0.411041,-0.609093,0.067196,-0.473529,-0.017209,0.370546,0.941321,...,-0.216369,0.117244,0.431613,-0.321597,-0.012754,-0.294310,-0.528927,-0.023847,-0.227879,0.585697

(733, 340)

In [26]:
count_matrix = count_matrix.filter(fpkm.index.values, axis = "index")
display(count_matrix.head(5))
print(count_matrix.shape) # (733, 424)

,AACO-01A,5263-01A,5261-01A,A5UC-01A,A4NE-01A,A6M5-01A,A1EH-01A,A8O5-01A,5264-01A,A3I0-11A,...,A39V-01A,A112-01A,A9CY-01A,A39Z-11A,A3M9-01A,A114-11A,A9HB-01A,AADR-01A,AAUZ-01A,A75C-01A
A2M,57486,8431,120628,302338,36661,793263,380915,941471,32130,123793,...,34394,19194,212684,172998,25626,459886,179721,33137,108184,194688
ACVR1C,16,115,14,3,49,122,11,28,29,156,...,34,18,127,108,10,194,47,121,48,25
ADAM12,4,189,225,64,233,1278,73,15,91,2,...,4,352,36,25,1691,30,48,13,9,26
ADM,107,5482,113,167,303,357,800,476,1203,3447,...,1014,153,258,531,7607,618,346,465,343,1681
ADORA2A,114,436,425,231,353,358,589,484,167,79,...,185,214,152,104,841,252,256,113,154,192

(733, 424)

In [28]:
count_matrix = count_matrix.filter(fpkm.columns.values)
display(count_matrix.head(5))
print(count_matrix.shape) # (733, 340)

,AADA-01A,A5SJ-01A,AACF-01A,A9GZ-01A,A113-01A,A4NK-01A,A3KF-01A,A5NO-01A,AAVX-01A,AAE0-01A,...,AAW1-01A,A7IL-01A,A5UC-01A,AAV2-01A,AADD-01A,A10S-01A,A11A-01A,A4NJ-01A,A3A1-01A,A3OU-01A
A2M,78112,195194,54394,387356,275578,21666,27618,34346,27132,38007,...,16389,43472,302338,19984,54466,103122,32448,46332,71797,75934
ACVR1C,17,20,20,264,73,162,69,60,59,0,...,45,42,3,21,14,12,160,2,39,15
ADAM12,24,85,27,20,64,16,46,22,2,53,...,11,4,64,20,5,110,19,67,6,282
ADM,167,825,318,184,266,545,662,181,510,208,...,560,601,167,802,256,1327,513,375,781,277
ADORA2A,341,253,131,322,167,180,277,71,97,154,...,166,371,231,129,245,192,141,161,110,401

(733, 340)

In [30]:
count_matrix.to_csv(root + 'count_matrix_filtered_full.csv', index=True, sep='\t')

In [31]:
# Missing elements
print("Number of NaN or missing data: " + str(count_matrix.isnull().sum().sum())) # 0, should not be any missing data
print("Number of 0: " + str((count_matrix==0).sum().sum())) # 10088, 0 doesn't mean missing

Number of NaN or missing data: 0
Number of 0: 10088

In [32]:
# Missing names of row or col
print("Missing values in gene name: " + str(count_matrix.index.isna().sum())) # 0 
print("Missing values in sample id: " + str(count_matrix.columns.isna().sum())) # 0

Missing values in gene name: 0
Missing values in sample id: 0

In [35]:
# How many all-NA rows and their indices
print("All-zero rows: " + str(((count_matrix.T==0).sum()==340).sum())) # 1, normal. Not expressed at all.
display(count_matrix.iloc[np.where((count_matrix.T==0).sum()==340)]) # also all-zero in fpkm_TCGA
print("All-zero cols: " + str(((count_matrix==0).sum()==733).sum())) # 0

All-zero rows: 0

Empty DataFrame
Columns: [AADA-01A, A5SJ-01A, AACF-01A, A9GZ-01A, A113-01A, A4NK-01A, A3KF-01A, A5NO-01A, AAVX-01A, AAE0-01A, A75I-01A, A1HT-01A, A73C-01A, AADO-01A, AB4B-01A, A9HA-01A, A5UD-01A, A11D-01A, AADS-01A, A5NQ-01A, AACU-01A, AAEH-01A, A6J8-01A, AACQ-01A, AACX-01A, AAV6-01A, A9H1-01A, A5SM-01A, A1EC-01A, A8TC-01A, A116-01A, A6GG-01A, A25Y-01A, A95S-01A, AAE1-01A, A496-01A, A9G7-01A, AACS-01A, AAV3-01A, AADF-01A, A4NN-01A, AAD5-01A, A9H8-01A, A8S7-01A, AAEB-01A, AACN-01A, A5SL-01A, AACZ-01A, AAE6-01A, AAW3-01A, A3A3-01A, A3A9-01A, A9CG-01A, A4NE-01A, AAVS-01A, A3R2-01A, A4ZQ-01A, A3MC-01A, AADK-01A, A9HB-01A, A1EB-01A, A8O6-01A, A9FW-01A, AAV7-01A, A9FS-01A, AADJ-01A, A4ND-01A, A3CJ-01A, A5RF-01A, A9GS-01A, A1EI-01A, A9GU-01A, A110-01A, AA1D-01A, AACE-01A, A7IG-01A, A6M4-01A, A9CY-01A, A9H6-01A, AAVY-01A, AADL-01A, A39Z-01A, A25T-01A, AAVP-01A, A25V-01A, A1ED-01A, AAC8-01A, A6UC-01A, AAD1-01A, A25U-01A, AAEK-01A, A9FV-01A, A10U-01A, AADY-01A, AAVZ-01A, A7IF-01A, A3MB-01A, AACO-01A, A112-01A, A7SH-01A, ...]
Index: []

[0 rows x 340 columns]

All-zero cols: 0

In [36]:
display(count_matrix.T.describe())
print("Minimum of the data: "+str(count_matrix.min().min())) # 0

,A2M,ACVR1C,ADAM12,ADM,ADORA2A,AKT1,ALDOA,ALDOC,ANGPT1,ANGPT2,...,WNT4,WNT5A,WNT5B,WNT7B,XCL1,ZAP70,ZC3H12A,ZEB1,ZEB2,CCL3L1
count,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,...,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000
mean,123923.432353,65.494118,162.997059,791.391176,281.985294,5114.267647,19717.002941,3502.961765,152.385294,348.708824,...,309.000000,426.855882,274.276471,59.317647,31.976471,184.082353,638.488235,801.202941,487.623529,56.902941
std,140974.069830,77.270222,643.094810,946.843227,203.189254,2556.687546,20819.787069,3744.032701,181.983018,346.576396,...,805.643648,700.140883,377.805978,295.457276,56.585013,300.657174,636.594171,514.949907,616.191882,75.223988
min,2081.000000,0.000000,0.000000,69.000000,27.000000,804.000000,2228.000000,10.000000,0.000000,19.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,56.000000,76.000000,24.000000,0.000000
25%,31739.500000,18.000000,12.000000,288.500000,153.000000,3404.000000,7767.000000,944.000000,41.000000,117.000000,...,9.000000,56.000000,42.750000,0.000000,5.000000,49.000000,236.750000,396.000000,165.750000,13.000000
50%,79298.000000,42.000000,33.000000,462.000000,227.500000,4783.000000,13024.000000,2562.000000,90.500000,235.500000,...,52.500000,192.000000,120.000000,2.000000,12.000000,91.000000,426.500000,695.000000,322.500000,32.000000
75%,164153.750000,78.500000,92.000000,854.000000,338.250000,6389.250000,23736.750000,4346.250000,191.250000,439.250000,...,301.000000,546.250000,349.750000,10.000000,36.000000,194.250000,737.750000,1093.500000,601.250000,68.250000
max,950521.000000,616.000000,8869.000000,7607.000000,1965.000000,21119.000000,162442.000000,24430.000000,1452.000000,2288.000000,...,12125.000000,6703.000000,2169.000000,3203.000000,527.000000,3467.000000,4489.000000,2597.000000,6933.000000,623.000000

Minimum of the data: 0